In [51]:
import pandas as pd

In [57]:
d1fire = pd.read_csv('data1_fire_results.csv')
d1no_fire = pd.read_csv('data1_no_fire_results.csv')
d2fire = pd.read_csv('data2_fire_results.csv')
d2no_fire = pd.read_csv('data2_no_fire_results.csv')

In [60]:
d1 = pd.concat([d1fire, d1no_fire], axis=0)
d2 = pd.concat([d2fire, d2no_fire], axis=0)

In [68]:
d1.head()

          Image Results Actual
0  image96.jpeg    fire   fire
1  image97.jpeg    fire   fire
2  image90.jpeg    fire   fire
3  image91.jpeg    fire   fire
4  image92.jpeg    fire   fire

In [69]:
d2.head()

         Image  Results Actual
0   fire32.jpg     fire   fire
1   fire26.jpg     fire   fire
2  fire102.jpg     fire   fire
3    fire4.jpg     fire   fire
4    fire5.jpg  no_fire   fire

In [70]:
d1.Actual.value_counts()

fire       11
no_fire    11
Name: Actual, dtype: int64

In [71]:
d1.Results.value_counts()

fire       11
no_fire    11
Name: Results, dtype: int64

In [87]:
tp, fp, tn, fn = 11, 0, 11, 0

accuracy = (tn+tp)/(tp+fp+tn+fn)
precision = (tp)/(fp+tp)
recall = (tp)/(tp+fn)
print('Accuracy:', accuracy, ', Precision:', precision, ', Recall:', recall)

Accuracy: 1.0 , Precision: 1.0 , Recall: 1.0

In [77]:
d2fire.Results.value_counts()

fire       45
no_fire    15
Name: Results, dtype: int64

In [78]:
d2fire.Actual.value_counts()

fire    60
Name: Actual, dtype: int64

In [79]:
d2no_fire.Results.value_counts()

no_fire    126
fire        31
Name: Results, dtype: int64

In [80]:
d2no_fire.Actual.value_counts()

no_fire    157
Name: Actual, dtype: int64

In [88]:
tp, fp, tn, fn = 45, 15, 126, 31

accuracy = (tn+tp)/(tp+fp+tn+fn)
precision = (tp)/(fp+tp)
recall = (tp)/(tp+fn)
print('Accuracy:', accuracy, ', Precision:', precision, ', Recall:', recall)

Accuracy: 0.7880184331797235 , Precision: 0.75 , Recall: 0.5921052631578947